html , body {
    height: 100%;
}

.box-upload{
    width: 400px;
    height: 200px;
    border : 1px black dashed;
}

.fileinput-button {
    width: 400px;
    height: 200px;
    border : 1px black dashed;
    background-color: transparent;
    color : black ;
    text-align: center;
    display: block;
}

.fileinput-button > span {
    top: calc(100% - 55%);
    height: 100%;
    position: relative;
}

.preview-outer{
    width: 80%;
    height: 80%;
    position: absolute;
    z-index: 10;
    background-color: white;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    padding : 20px;
    border-radius: 5px;
}

/* Table */
table.blueTable {
    background-color: #FFFFFF;
    width: 100%;
    height: 100px;
}

.column-1 {
    text-align: center;
}

.column-2 {
    text-align: left;
}

.column-3 {
    text-align: right;
}

table.blueTable td,
table.blueTable th {
    padding: 3px 2px;
}

table.blueTable tbody td {
    font-size: 13px;
}

table.blueTable tfoot td {
    font-size: 14px;
}
/* Preview */
.overlay{
    width : 100%;
    height : 100%;
    position: absolute;
    background-color : rgba(0, 0, 0, 0.226);
    top : 0;
    z-index: 1;
}

img[data-dz-thumbnail]{
    position: relative;
    height: auto;
    display: block;
    z-index:2;
}

.inner-table {
    display: table;
    width: 100%;
}

span.preview{
    display: table-cell;
}

.progress {
    width: 80%;
    z-index: 0;
    position: absolute;
    height: 2px !important;
}

.button-area{
    margin : 10px 10px;
}

.start {
    float :right;
}