html , body {
    height: 100%;
}

.box-upload{
    width: 400px;
    height: 200px;
    border : 1px black dashed;
}

.fileinput-button {
    width: 400px;
    height: 200px;
    border : 1px black dashed;
}