html , body {
    height: 100%;
}

.box-upload{
    width: 400px;
    height: 200px;
    border : 1px black dashed;
}

.fileinput-button {
    width: 400px;
    height: 200px;
    border : 1px black dashed !important;
    background-color: transparent !important;
    color : black !important;
    text-align: center;
    display: block;
}

.fileinput-button > span {
    top: calc(100% - 55%);
    height: 100%;
    position: relative;
}

#previews{
    
}