<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test File Upload</title>
    <link rel="stylesheet" href="../assets/css/custom.css" type="text/css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
</head>
<body>
    Try upload here !

    <div id="actions" class="row">

        <div class="col-lg-7">
            <!-- The fileinput-button span is used to style the file input field as button -->
            <form action="/fileupload" method="post" enctype="multipart/form-data" id="originalForm" class="fileinput-button dz-clickable">
                <span>
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Add files...</span>
                </span>
            </form>
            <form action="/fileupload" method="post" id="formAdded" class="form-added inactive fileinput-button dz-clickable">
                Add your image here
            </form>
        </div>

        <div class="col-lg-5" style="display:none">
            <!-- The global file processing state -->
            <span class="fileupload-process">
                <div id="total-progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                    aria-valuenow="0">
                    <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress=""></div>
                </div>
            </span>
        </div>

    </div>

    <button id="addMore" class="add-more inactive">Add More</button>

    <div id="previews" class="preview-outer inactive">
        <div id="previews" class="files preview-inner">
            <div id="between" class="file-row inner-table">
                <table class="blueTable">
                    <tbody>
                        <tr id="appendRow" class="append-row">
                            <td class="column-1">
                                <span class="preview">
                                    <img data-dz-thumbnail />
                                    <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                        <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress>
                                        </div>
                                    </div>
                                </span>
                            </td>
                            <td class="column-2">
                                <p class="name" data-dz-name></p>
                                <strong class="error text-danger" data-dz-errormessage></strong>
                                <p class="size" data-dz-size></p>
                            </td>
                            <td class="column-3">
                                <button data-dz-remove class="btn btn-danger delete">
                                    <i class="glyphicon glyphicon-trash"></i>
                                    <span>Delete</span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                </div>
                <div class="button-area">
                    <button type="reset" class="btn btn-warning cancel">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                        <span>Cancel upload</span>
                    </button>
                    <button type="submit" class="btn btn-primary start">
                        <i class="glyphicon glyphicon-upload"></i>
                        <span>Start upload</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script src="../assets/js/jquery-3.2.0.min.js" type="text/javascript"></script>
    <script src="../assets/js/dropzone.js" type="text/javascript"></script>
    <script src="../assets/js/custom.js" type="text/javascript"></script>
</body>
</html>